.best_product_area {
  width: 100%;
  height: 680px;
  background-color: rgb(238, 238, 238);
  text-align: center;
  padding-top: 1px; /*margin 쓰려고*/
}

.best_product_area h3 {
  margin-top: 40px;
  margin-bottom: 5px;
  color: rgb(155, 155, 155);
}

.best_product_area h1 {
  margin-top: 0px;
  margin-bottom: 30px;
}

.best_tab_list {
  padding: 0;
  margin: 0;
  font-size: 0; /* li 사이의 margin 없애려고*/
}

.best_tab_list li {
  width: 160px;
  height: 50px;
  font-size: 15px; /*font-size 돌려냄*/
  margin-right: 1px;
  background-color: white;
  display: inline-block;
  color: #777;
  font-weight: bold;
  line-height: 50px;
}

.best_tab_list li:hover {
  color: white;
  background-color: #1fcbc7;
}

.best_tab_list li.now {
  color: white;
  background-color: #1fcbc7;
}

.product_box {
  max-width: 304px;
  box-sizing: border-box;
  margin: 20px 10px 0 10px;
  display: inline-block;
  background-color: white;
}

.product_box a:hover .thumb_img_hover {
  display: block;
}

.product_box a {
  position: relative;
}

.thumb_img {
  max-height: 304px;
}

.thumb_img img{
  width: 304px;
}

.thumb_img_hover {
  width: 304px;
  height: 0px;
  padding: 120px 0 184px 0;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: black;
  opacity: 0.65;
  position: absolute;
  bottom: 138px;
  text-align: center;
  display: none;
}

.thumb_img_hover hr {
  width: 65px;
  height: 1px;
  background-color: white;
  border: none;
  margin: 7px auto 10px auto;
}

.badge_area {
  position: absolute;
  width: 304px;
  height: 25px;
  bottom: 140px;
  text-align: left;
  line-height: 25px;
  margin: 0 0 10px 10px;
}

.badge {
  width: auto;
  height: auto;
  padding: 5px;
  color: white;
  background-color: #a974bf;
  font-size: 12px;
  margin: 0 5px 0 0;
}

.product_box dl{
  max-width: 304px;
  box-sizing: border-box;
  margin: 0;
  padding: 18px 20px 15px 20px;
}

.product_title {
  width: 264px;
  height: 20px;
  font-size: 17px;
  color: black;
  font-weight: bold;
  text-align: left;
  margin-bottom: 4px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product_box dd.product_desc {
  width: 264px;
  height: 20px;
  font-size: 13px;
  color: #666;
  text-align: left;
  margin: 0 0 20px 0;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product_box dd {
  margin: 0;
  text-align: right;
}

.n_price {
  font-size: 14px;
  color: #888;
  vertical-align: middle;
  text-decoration: line-through;
  margin-right: 5px;
}

.s_price {
  font-size: 26px;
  color: #2ac1bc;
  font-weight: 900;
  vertical-align: middle;
}
